body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1);

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-image: url("https://www.science20.com/files/images/Rock-Paper-Scissors%20animation.gif");
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

.span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 40px;

}

.section {
    background-color: lime;
    width: 550px;
  
    max-width: 80%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: solid 2px black;
    box-shadow: 5px 10px #888888;
}

header {
    display: flex;
    justify-content: center;
    
    height: var(--header-height);
    
}
.h1 {
    background-color: lime;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    box-shadow: 5px 10px #888888;
}
.button {
    font-size: 25px;
    background-color: yellow;
}
.result {
    background-color: lime;
    width: 400px;
    height: 220px;
    font-size: 25px;
  
    max-width: 80%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: solid 2px black;
    box-shadow: 5px 10px #888888;

}

input:checked + img {
      
      border: solid 2px crimson;
  }